[Desktop Entry]
Name=Vkontakte
Exec=webapp-container --user-agent-string='Mozilla/5.0 (Linux; Android 8.0.0; Pixel Build/OPR3.170623.007) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/61.0.3163.98 Mobile Safari/537.36' --webappUrlPatterns=https?://vk.com/*,https?://*.vk.com/*,https?://vk.com/login.php* --store-session-cookies --enable-media-hub-audio https://vk.com --scaling --disable-gpu
Icon=assets/icon.png
Terminal=false
Type=Application
X-Ubuntu-Touch=true
X-Ubuntu-Splash-Color=#ffffff
