[Desktop Entry]
Name=Vkontakte
Comment=Morph based alternate vk.com Webapp
Exec=qmlscene %u app/Main.qml  --scaling --multisample --gles --fullscreen --disable-gpu
Terminal=false
Type=Application
Icon=icon.png
X-Ubuntu-Touch=true

X-Ubuntu-Splash-Color=#ffffff

Name[en_US]=Vkontakte


